.vs/
LoginSignUp/.vs/
LoginSignUp/LoginSignUp/bin/
LoginSignUp/LoginSignUp/obj/
LoginSignUp/packages/
LoginSignUp/LoginSignUp.sln
LoginSignUp/.vs/
LoginSignUp/UpgradeLog.htm
LoginSignUp/LoginSignUp/App.config
LoginSignUp/LoginSignUp/App.xaml
LoginSignUp/LoginSignUp/App.xaml.cs
LoginSignUp/LoginSignUp/LoginSignUp.csproj
LoginSignUp/LoginSignUp/MainWindow.xaml
LoginSignUp/LoginSignUp/MainWindow.xaml.cs
LoginSignUp/LoginSignUp/packages.config

